* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #025157;
    --background-secondary-color-button:#6abf4b;
    --sub-headers-color:#343434;
    --text-button-color:#fff;

}

html{
    font-size: 62.5%;
}

body {
    color: #4a4a4a;
    font-size: 1.8rem;
    font-weight: 400;
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #fffbf7;
}

/*General styles*/
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.container {
    width: 100%;
    padding: 0px 200px;
    margin-top: 190px;
}

.primary-color {
    color: var(--primary-color);
}

.btn {
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 24px;
}

.btn-green {
    color: #fff;
    background-color: var(--background-secondary-color-button);
}

.btn-dark-green {
    color: #fff;
    background-color: var(--primary-color);
}

.btn-dark-green:hover {
    background-color: var(--background-secondary-color-button);
}

.link-green {
    color: var(--background-secondary-color-button);
    text-decoration: none;
}

.link-gray {
    font-size: 14px !important;
    line-height: 16px;
    color: #c8c8c8  !important;
}

div {
    display: block;
}

img{
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}

p {
    margin-bottom: 1rem;
}

h1, h2, h3, h4, h5 {
    margin-top: 5px;
    margin-bottom: 15px;
}

.mt-1 {
    margin-top: 10px;
}

.text-center {
    text-align: center;
}

.header-h1 {
    font-size: 55px;
    font-weight: 700;
    color: #025157 !important;
    letter-spacing: -3px;
    font-family: 'PT Serif', serif;
}

/*Header styles*/

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height:100px;
    width: 100%;
    padding: 0px;
    font-size: 1.6rem;
    background-color: #fffbf7;
}

header * {
    color: var(--primary-color);
}

header > nav > ul {
    display: flex;
    list-style: none;
}

header li {
    margin: 0px 20px;
}

header a{
    text-decoration: none;

}

header a:hover{
    text-decoration: underline; 
}

.logo {
    height: 40px;
}

.btn-header {
    color: var(--text-button-color);
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    background-color: var(--primary-color);
}

.btn-header:hover {
    text-decoration: none;
    background-color: var(--background-secondary-color-button);
}

.actions a {
    margin-right: 2rem;
}

/* Main section */
main {
    margin-top: 200px;
    display: flex;
    flex-flow: row wrap;
}

.main_content {
    position: relative;
    display: flex;
    flex-flow: row nowrap;

}

.main_content h1 {
    font-family: 'PT Serif', serif;
    font-weight: 400!important;
    line-height: 63px;
    font-size: 68px;
    text-align: left;
    letter-spacing: -3px;
    color: #025157;
    max-width: 560px;
    margin-bottom: 24px;
}

.main_content_free_trial  > p{
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 160%;
    text-align: center;
    letter-spacing: -.5px;
    color: rgba(139,139,139,.8);
    margin-bottom: 0;
    margin-top: 15px;
}

.main_content p {
    font-style: normal;
    line-height: 31px;
    font-size: 20px;
    margin-bottom: 30px;
    text-align: left;
}

.video_imgs {
    width: 100%;
    position: relative;
}

.video_imgs * {
    position: absolute;
}

.video_img-1 {
    transform: translate(50%,0%);
}

.video_img-2 {
    transform: translate(0%, 0%);
}

.video_img-3 {
    transform: translate(0%, 0% );
}

.video_img-4 {
    transform: translate(0%, 0%);
}

.video_img-5 {
    transform: translate(0%, 0%);
}

.video_img-6 {
    transform: translate(0%,0%);
}

.main_logos_container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main_logos {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}


/*Top features styles */

.top_features {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top_features_header {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
}

.top_features h1 {
    font-size: 55px;
    font-weight: 700;
    color: #025157;
    letter-spacing: -3px;
    font-family: 'PT Serif', serif;
}

.top-features-cards {
    display: flex;
    text-align: center;
    gap: 20px;
}

.top-features-cards article {
    min-width: 33.3%;
}
.feature-img {
    overflow: hidden;
    border-radius: 9px;
    border: 1px solid #dadada;
}

/*Tools section styles*/
.tools_container{
    text-align: center;
}

.tools_container h1 {
    font-size: 36px;
    color: var(--primary-color);
    font-family: 'PT Serif', serif;
}

.tools_article_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px;
}

.tools_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 18px;
    width: 300px;
    height: 320px;
    border: 1px solid #dadada;
    text-align: center;
    background-color: #fff;
}

.tools_item p {
    color: #7e7e7e;
    font-size: 1.5rem;
    margin-top: 20px;
}

.tools_item h1 {
    color: #343434;
    margin-top: 20px;
    font-size: 1.9rem;
    
}

.tools_item img {
    width: 38px;
    height: 60px;
    min-width: 38px;
}

/*Carousel Section */
.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.card {
    border: 1px solid #dadada;
    border-radius: 10px;
    background-color: #fff;
}

.card img {
    max-width: none !important;
}

.card_cart_section{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.card_body {
    margin: 20px;
}

.carousel_left_info {
    display: flex;
    flex-direction: column;
}


/* Compare section */
.compare_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.compare_container h1{
    font-size: 55px;
    font-weight: 700;
    color: #025157;
    letter-spacing: -3px;
    margin-bottom: 50px;
    font-family: 'PT Serif', serif;
}

.compare_table {
    background-color: #fff;
    border-collapse: collapse;
}

.table_title {
    font-size: 26px;
    line-height: 1em;
    font-family: vesterbroextrabold,Arial,sans-serif;
    font-weight: 400!important;
    color: #025157;
    font-family: 'PT Serif', serif;;
}

.compare_table th, td {
    border: 1px solid #dadada;
}

.compare_table  img{
    margin: auto;
    max-width: none !important;
}

.compare_table td{
    padding: 10px 20px;
}


/*Podcast & blog section styles*/
.podcast-blog-container {
    display: grid;
    grid-template-columns: repeat(2, 640px);
    grid-template-rows: repeat(2, 300px);
    gap: 40px;
    justify-content: center;
}

.podcast-blog-container article {
    border-radius: 10px;
    padding: 20px 35px;
    border: 1px solid #868e96;
}

.podcast-blog-item-1 {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-size: cover;
    background-image: url('https://getmatcha.com/wp-content/themes/getmatcha/img/gfx/blocks/masters.jpg');
}

.podcast-blog-item-2 {
    position: relative;
    color: #4a4a4a;
    display: flex;
    flex-direction: row;
    color: #868e96;
    border: 1px solid #868e96;
    align-items: center;
    overflow: hidden;
}

.podcast-blog-item-2__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 280px;
}

.podcast-blog-item-2__content > h1{
    font-size: 34px;
    color: #025157;
}

.podcast-blog-item-2__content > p{
    font-size: 20px;
    color: #868e96;
}

.podcast-blog-item-2__content > a, .podcast-blog-item-4__content > a {
    color: #6abf4b;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

.podcast-blog-item-2 .mocks-imgs {
    position: absolute;
    right: 0;
    top: 0;
    width: 44%;
    height: 100%;
}

.podcast-blog-item-3 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    color: #868e96;
    background-image:linear-gradient(#fff 20%,#fade82 40%,#fade82 100%);
    font-size: 20px;
    color: #135359;
    text-align: center;
}

.podcast-blog-item-3 > p {
    width: 80%;
}

.podcast-blog-item-3 > a {
    color: #135359;
    text-decoration: none;  
    font-weight: 600;
    font-size: 18px;
}

.podcast-blog-item-4 {
    color: white;
    background-color:#035157 ;
    background-image: url("https://getmatcha.com/wp-content/themes/getmatcha/css/../img/gfx/blocks/toolkit.jpg");
    background-repeat: no-repeat;
    background-position: 100% 44%;
    background-size: auto 145%; 
}

.podcast-blog-item-4__content {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 26px;
}

.podcast-blog-item-4__content > * {
    margin-bottom: 20px;
}

/*footer styles */
.footer_container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.get_started_free_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--text-button-color);
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 80px 50px;
}

.get_started_free_container h2{
    font-family: 'PT Serif', serif;
    font-weight: 400;
    line-height: 46px;
    font-size: 35px;
    letter-spacing: -2px;
}

.get_started_free_container p{
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    font-size: 17px;
    letter-spacing: -.5px;
    color: #fff;
    margin-top: 1.25rem;
}

.subscribe_container {
    display: flex;
    margin: 50px 0px;
}

.subscribe_menu {
    display: flex;
    width: 100%;
    justify-content: space-around;
    
}

.subscribe_container  h5 {
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 16px;
    letter-spacing: 1px;
    color: var(--primary-color);
    text-transform: uppercase;
    margin-bottom: 26px;
}

.subscribe_container form {
    margin: 20px 0px;
}

.subscribe_container form input {
    border-radius: 10px;
    border-left: 1px solid #025157;
    border-top: 1px solid #025157;
    border-bottom: 1px solid #025157;
    height: 48px;
    margin-right: -15px;
    color: #4a4a4a;
    width: 50%;
    padding: 0px 10px;
}

.subscribe_container form button {
    border-radius: 0px 10px 10px 0px;
    border-left: 1px solid #025157;
    border-top: 1px solid #025157;
    border-bottom: 1px solid #025157;
    height: 48px;
    color: var(--text-button-color);
    background-color: var(--primary-color);
    padding: 0px 10px;
}

.subscribe_menu a {
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    font-size: 20px;
    letter-spacing: -.5px;
    color: #4a4a4a;
    text-decoration: none;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.subscribe_menu a:hover {
    color: var(--background-secondary-color-button);
}

.footer_icons_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.footer_icons_container p {
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    font-size: 1.6rem;
    text-align: right;
    letter-spacing: -.5px;
    color: #4a4a4a;
}

.footer_icons *{
    margin-right: 10px;
}
