* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #025157;
    --background-secondary-color-button:#6abf4b;
    --sub-headers-color:#343434;
    --text-button-color:#fff;

}

html{
    font-size: 62.5%;
}

body {
    color: #4a4a4a;
    font-size: 1.8rem;
    font-weight: 400;
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #fffbf7;
}

/*General styles*/
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.container {
    width: 100%;
    padding: 0px 60px;
}

.btn {
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 24px;
}

.btn-green {
    color: #fff;
    background-color: var(--background-secondary-color-button);
}

div {
    display: block;
}

/*Header styles*/

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height:100px;
    width: 100%;
    padding: 0px;
    font-size: 1.6rem;
    background-color: #fffbf7;
}

header * {
    color: var(--primary-color);
}

header > nav > ul {
    display: flex;
    list-style: none;
}

header li {
    margin: 0px 20px;
}

header a{
    text-decoration: none;

}

header a:hover{
    text-decoration: underline; 
}

.logo {
    height: 40px;
}

.btn-header {
    color: var(--text-button-color);
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    background-color: var(--primary-color);
}

.btn-header:hover {
    text-decoration: none;
    background-color: var(--background-secondary-color-button);
}

.actions a {
    margin-right: 2rem;
}

/* Main section */
main {
    position: relative;
    margin-top: 200px;
    display: flex;
    flex-flow: row wrap;
    height: 600px;
}

.main_content {
    max-width: 44%;
}

.main_content h1 {
    font-family: 'PT Serif', serif;
    font-weight: 400!important;
    line-height: 63px;
    font-size: 68px;
    text-align: left;
    letter-spacing: -3px;
    color: #025157;
    max-width: 560px;
    margin-bottom: 24px;
}

.main_content_free_trial  > p{
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 160%;
    text-align: center;
    letter-spacing: -.5px;
    color: rgba(139,139,139,.8);
    margin-bottom: 0;
    margin-top: 15px;
}

.main_content p {
    font-style: normal;
    line-height: 31px;
    font-size: 20px;
    margin-bottom: 30px;
    text-align: left;
}

.video_imgs {
    width: 100%;
    height: 100%;
    max-width: 56%;
    position: relative;
}

.video_img-1 {
    left: 200px;
    transform: translate(50%,-15%);
    width: 46.1%;
}

.video_img-2 {
    transform: translate(-100%, -253%);
    width: 42%;
}

.video_img-3 {
    transform: translate(130%, -850% );
    width: 35%;
}

.video_img-4 {
    transform: translate(-110%, -295%);
    width: 29%;
}

.video_img-5 {
    transform: translate(30%, -150%);
    width: 38%;
}

.video_img-6 {
    transform: translate(72%,-480%);
    width: 38%;
}

.main_logos_container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main_logos {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

